{
    "presets": [
        "env",
        "react",
        "flow",
        "stage-3"
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread"
    ]
}
